---
---

<footer class="w-full text-center py-2 bg-black/60 text-white text-sm font-mono z-50">
    <p class="opacity-60">© 2025 <span class="text-violet-400">Khye Booth</span> — All rights reserved - Made for the ANZSEC Community</p>
</footer>